
body {
    background-color: #C5DBEC;
}

.body2 {
    background-color: #4D4D4D;
    
}

.body3 {
    background-color: #614344;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'MerriweatherBold', sans-serif;
}

.NOSOTROSPAGE {
    color: #ffffff;
}

.logo {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .logo {
        max-width: 50%;
    }
}

.logo2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cotiza_tu_proyecto {
    height: 40px;
    background-color: #D9D9D9;
    border-radius: 10px;
    text-align: center;
}

.itemsnav1 {
    height: 40px;
    text-align: center;
}

.itemsnav2 {
    height: 40px;
    text-align: center;
}

#textnav2 {
    color: #ffffff;
}

.cotiza_tu_proyecto2 {
    width: 211px;
    height: 40px;
    background-color: #D9D9D9;
    border-radius: 10px;
    color: #614344;
}

.textonosotros {
    color: #ffffff;
    text-align: left;
}


footer {
    
 margin-bottom: 10px;
 position: fixed;
 bottom: 0;
 left: 0;
 right: 0;
 padding: 20px;
 display: flex;
 justify-content: left;
 align-items: center;
}

@media (max-width: 767px) {
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        float: none;
        bottom: 0;
}
}






.ul2 {
    font-family: Merriweather;
    font-size: 15px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-container {
    background-color: #D9D9D9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-top: 10%;
}

.service-container h2 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'MerriweatherBold';
}

.service-container p {
    font-family: 'Merriweather';
    font-size: 10px;
}

@media (max-width: 768px) {
    .service-container {
        padding: 10px;
    }

    .service-container h2 {
        font-size: 20px;
    }

    .service-container p {
        font-size: 14px;
    }
}

.service-container p {
    font-size: 16px;
    line-height: 1.6;
}

.navbar-brand {
    font-family: Merriweather;
    color: #ffffff;
    align-items: flex-start;
    size: 50%;
    margin-left: 3%;
}

.li2 {
    font-family: Merriweatherbold;
    font-size: 100%;
}

ul li {
    display: inline-block;
    padding: 0px 30px;
    font-family: Merriweather;
    font-size: 1rem;
}

.wpp {
    overflow-x: 48px;
}

@font-face {
    font-family: Merriweather;
    src: url(../assets/fonts/Merriweather-Regular.ttf);
}

@font-face {
    font-family: Merriweatherbold;
    src: url(../assets/fonts/Merriweather-Bold.ttf);
}

a {
    color: black;
    text-decoration: none;
}

.header {
    font-family: Merriweather;
    font-size: 1rem;
    margin: 0px;
}

.logo3 {
    width: 100px;
    height: 100px;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 20px;
    margin: 5% auto;
    max-width: 90%;
    float: right;
    margin-left: 5%;
    
    
}

@media screen and (min-width: 768px) {
    .container2 {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #D9D9D9;
        padding: 20px;
        border-radius: 20px;
        margin-right: 5%; 
        max-width: 50%;
    }
    }


@media screen and (max-width: 768px) {
    .container2 {
        
    flex-direction: column;
    justify-content: space-between;
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 20px;
    margin: 5% auto;
    max-width: 45%;
    float: none;
    align-items: center;
    
    }

    .textonosotros {
        width: 60%;
        margin-right: 5%;
    }
}



.imagennosotros {
    display: flex;
    float: left;
    margin-left: 5%;
    margin-top: 4%;
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .imagennosotros {
        
        flex-direction: column;
        align-items: center;
        margin: 5 5px;
        margin-bottom: 10%;

        
}
}

.carousel-item {
   width: 90%;
   height: 5%;
   justify-content: center;
   align-items: center;
   margin-left: 15%;
   margin-top: 5%;


}

h4 {
    font-family: Merriweather;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

}


.navbar-brand2 {
    font-family: Merriweatherbold;
    color: #4D4D4D;
    align-items: flex-start;
    size: 50%;
    margin-left: 3%;

}